@charset "utf-8";

/*
============================================================
============================================================
============================================================
Ширины экранов
-- xs	320-499		Смартфоны
-- sm	500-767		Фаблеты
-- md	768-1023	Планшеты
-- ml	1024-1180	Нетбуки
-- lg	1181-1299	Ноутбуки
-- xl	1400		Декстопы
============================================================
============================================================
============================================================
*/
/* USER VARIABLES SECTION */
* {
  outline: 1px solid red;
}

* {
  outline: 0;
}


:root {
  --index: calc(1vw + 1vh);
  --border-radius: .5rem;
  --letter-spacing: -0.05em;

  --accent-color: #F06B13;
  --text-color: #707070;
  --logo-color: #333333;
  --black-color_2: #444444;
  --black-color: #000000;
  --gry-color: #CDCDCD;
  --gry-color_2: #D9D9D9;
  --green-color: #52C868;
  --btn-bg: #52C868;
  --green-color_2: #04951F;
  --font-size: 1.125rem;
  --lineheight: 1.35;
  --userfont: Inter, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}



/* GENERAL CSS SETTINGS */

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: var(--accent-color);
  color: #fff;
}

::selection {
  background-color: var(--accent-color);
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.btn,
a {
  text-decoration: none;
}

a {
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: var(--text-color);
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--userfont);
  font-size: var(--font-size);
  line-height: var(--lineheight);
  color: var(--font-size);
  position: relative;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class*=__containers] {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 .9375rem;
  position: relative;
  z-index: 2;
}

.section-paddind {
  /* padding-top: 3.75rem; */
  padding-bottom: 3.75rem;
}

/* 1200px */
@media (max-width: 75em) {
  .section-paddind {
    /* padding-top: 4.75vw; */
    padding-bottom: 4.75vw;
  }
}

@media (max-width: 321px) {
  .section-paddind {
    /* padding-top: .9375rem; */
    padding-bottom: .9375rem;
  }
}

/* h1-h3  STYLES */
h1,
.h1 {
  font-size: 3.5rem;
  line-height: 1.48;
}

h2,
.h2 {
  font-size: 3.25rem;
  line-height: 1.48;
}

/* 1200px */
@media (max-width: 75em) {

  h1,
  .h1 {
    font-size: 4.65vw;
  }

  h2,
  .h2 {
    font-size: 4.35vw;
  }
}

/* 700px */
@media (max-width: 43.75em) {

  h1,
  .h1 {
    font-size: 1.875rem;
  }
}

/* 576px */
@media (max-width: 36em) {

  h2,
  .h2 {
    font-size: 1.5625rem;
  }
}



/* 1920px */
@media (min-width: 1920px) {
  /* :root {
    font-size: 1vw;
  } */
}